/*
 Main home screen
*/

body{
    font-family: 'Fira Code', monospace;
}

.main_page{
    height: 100vh;
    margin: 1rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.navigation{
    border: 1px inset black;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 10;
    grid-column-end: 10;
}

.intro_text{
    align-self: end;
    justify-items: end;
    text-align: left;
    font-size: 48px;
    z-index: 100;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 10;
}

.info_text{
    align-self: start;
    justify-items: end;
    text-align: right;
    font-size: 32px;
    z-index: 100;

    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 10;
}

.circle_green{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -100;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.circle_yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -100;

    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 9;
    grid-column-end: 10;
}

/*
 Project section with project scroll bar
*/

.project{
    display: grid;
    grid-template-columns: 1px 1fr 1fr 1px;
    grid-template-rows: repeat(10 1fr);

    height: 75vh;
    margin: 1fr;
    border-top: 1px inset black;
    border-bottom: 1px inset black;
}

img{
    grid-row-start: 4;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 60%;
    height: auto;

    padding: 1fr;
    justify-self: center;
    align-items: center;
    margin-right: 3rem;
    margin-top: 3rem;
    margin: 1fr;
}

.github_link{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 3;

    justify-self: left;
    align-items: center;
    font-size: 32px;
    margin-left: 1fr;
}

.project_info{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 3;

    justify-self: left;
    align-items: center;
    font-size: 18px;
    margin-left: 1fr;
}

/*
 About me section
*/

.about_me_section{
    height: 50vh;
    margin: 1fr;
}

footer{
    border-top: 1px inset black;
}

.footer_info{
    margin: 3rem;
}

section{
    padding: auto;
}

h3{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}